@import "tailwindcss";

@theme {
  --color-primary: #8f8f8f;
  --color-secondary: #e91e63;
  --color-background: #1d5a4a;
  --color-heading: #2f423c;
  --color-bg: #545454;

  --font-Chocolates: "TT_Chocolates_Trial", sans-serif;

  --text-size: 56px;
}
